<div id="word-block" ></div>

<% if editable %>
<input id="enter-text" type="text" placeholder="enter some text">
<button id="save-button" class="small button success radius">SAVE</button>
<!-- <button id="edit-button" class="small button secondary radius">EDIT</button> -->
<button id="old-school-button" class="small button radius">
	<span data-tooltip data-options="disable-for-touch:true" class="has-tip tip-top" title="Getting dizzy? Enter your post in an OLD-School text-area, and THEN move it!">
		Do It OLD School!
	</span>
</button>
<% end %>

