<% provide :title, 'Splash!' %>
<div class="row">
	<div class="large-12 columns">
		<h1 class="my-title">Welcome to Move My Words!</h1>
		<h5 class="subheader">We've all been moved by words. Why not move them back?</h5>
	</div>	
</div>

<div class="row">
	<div class="large-12 columns">
		<%= render 'shared/word_block' %>
	</div>
</div>



