<% provide :title, 'Splash!' %>
<div class="row">
	<div class="large-12 columns">
		<h1 class="my-title">Welcome to Move My Words!</h1>
		
	</div>	
</div>

<div class="row">
	<div class="large-12 columns">
		<div id="word-block"></div>
		<input id="ti" type="text" placeholder="enter some text">
	</div>
</div>



