<% provide :title, 'Move My Words!' %>
<div class="row">
	<div class="large-12 columns">
		<h1 class="my-title">This is my sweet index!</h1>
		
	</div>	
</div>

<div class="row">
	<div class="large-12 columns">
		<div id="word-block"></div>
		<input id="ti" type="text" placeholder="enter some text">
		<!-- <button id="tb" >click me</button> -->
	</div>
</div>

