#word-block {
	border: 5px dashed black;
}

.fixed {
  fill: red;
}

.link {
  stroke: #999;	
}

text {
	font-size: 2em;
	fill: steelblue;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}