<div id="about-modal" class="reveal-modal medium" >
	<!-- <div class="row">
	<div class="large-3 columns"> -->
		<h2>About Move My Words:</h2>
	
		<p>Move My Words is an interactive blogging platform that lets you enter a blog post and play interactive games with the text. So far you can play Web Words and Fridge Magnets. More games coming soon!</p>	
	<!-- </div>
	
	</div>
 -->
	<a class="close-reveal-modal">&#215;</a>
</div>