<div id="confirm-modal" class="reveal-modal large" >
	<h4>Are you sure you want to delete this amazing post?</h4>
	<div id="confirm-container"></div>
	<button id="confirm-no" class="small button radius">Nooooo!</button>
	<button id="confirm-yes" class="small button alert radius">Delete Away!</button>
	<a class="close-reveal-modal">&#215;</a>
</div>