<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "Move My Words", root_path %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider hide-for-small"></li>
      <li><a href="#" data-reveal-id="about-modal">About</a></li>
      <li><%= link_to "Users", users_path %></li>
    </ul><!-- End Left Nav Section -->

    <!-- Right Nav Section -->
    <ul class="right">

      <%# User info if applicable %>
      <% if user_signed_in? %>
        <li><a href="#">Signed in as <%= current_user.email %></a></li>
        
        <%# Account Dropdown Box! %>
        <%# not sure what's going to be in this but we'll see! %>
        <li class="divider hide-for-small"></li>
        <li class="has-dropdown"><a href="#">Account</a>
          <ul class="dropdown">
            <li><label>Profile</label></li>
            <li><a href="#">Edit</a></li>
            <li><a href="#">Update</a></li>
            <li class="divider"></li>
            <li><label>Play</label></li>
            <li><a href="#">Activity 1</a></li>
            <li><a href="#">Activity 2</a></li>
            <li><a href="#">Activity 3</a></li>
          </ul>
        </li>

        <li><%= link_to "Log Out", destroy_user_session_path, method: 'delete' %></li>

      <% else %>

        <%# signin/up links if user not signed in! %>
        <li class="divider hide-for-small"></li>
        <li><a href="#" data-reveal-id="signup-modal">Sign Up</a></li>
        <li class="divider hide-for-small"></li>
        <li><a href="#" data-reveal-id="signin-modal">Log In</a></li>
        
      <% end %>

    </ul>
  </section>
</nav>