<div id="original-text-modal" class="reveal-modal medium" >
	<h4><%= title_or_not @move_my_post %> <small>(original text)</small></h4>
	<blockquote><%= @move_my_post.content %></blockquote>
	<a class="close-reveal-modal">&#215;</a>
</div>